<h2>Add A New Game</h2>

<form action="/games" method="POST">
	<label for="name">Name:</label>
	<input type="text" name="name">

	<label for="description">Description:</label>
	<textarea name="description" cols="40" rows="10"></textarea>

	<input type="submit" value="Create a new game!">
</form>
